[*.cs]

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = silent

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = silent

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = silent
